
/* Estilização geral de todos os elementos */
*{
    margin: 0; /* Remove margem padrão */
    padding: 0; /* Remove padding padrão */
    box-sizing: border-box; /* Define box-sizing para incluir padding e border na largura e altura */
    font-family: 'Poppins', sans-serif; /* Define a fonte geral da página */
}

body {
    width: 100%; /* Define a largura do body como 100% */
}

/* Estilização da barra de navegação */
nav{
    background-color: #fff; /* Define cor de fundo branca */
    padding: 5px 30px; /* Define padding interno */
    display: flex; /* Exibe elementos em linha flexível */
    justify-content: space-between; /* Espaça os elementos de forma igual entre si */
    align-items: center; /* Alinha itens no centro verticalmente */
    width: 100%; /* Define a largura como 100% */
    position: fixed; /* Fixa a barra de navegação no topo */
    top: 0; /* Posiciona a barra no topo da página */
    z-index: 1000; /* Define a prioridade de sobreposição da barra */
}

/* Estilização da logo na barra de navegação */
nav .logo img{
    height: 80px; /* Define a altura da imagem da logo */
    border-radius: 50px;
}

/* Estilização da lista de navegação */
nav ul{
    display: flex; /* Exibe itens em linha */
    align-items: center; /* Alinha itens no centro verticalmente */
    list-style: none; /* Remove a estilização padrão de lista */
    padding: 10px; /* Define padding interno */
}

/* Estilização dos itens da lista de navegação */
nav li{
    margin-left: 7px; /* Adiciona margem à esquerda */
    font-size: 18px; /* Define o tamanho da fonte */
    font-weight: 500; /* Define a espessura da fonte */
}

/* Estilização geral dos links */
a {
    text-decoration: none; /* Remove a decoração padrão do link */
    color: #D2691E; /* Define a cor do texto */
    padding: 8px 15px; /* Define o padding interno */
    border-radius: 5px; /* Define bordas arredondadas */
    transition: 0.3s; /* Adiciona transição suave */
}

/* Estilização do hover para logo */
.logo a:hover {
    background-color: white; /* Define cor de fundo branca no hover */
}

/* Estilização do hover para links */
a:hover {
    background-color: #D2691E; /* Define cor de fundo no hover */
    color: white; /* Define cor do texto no hover */
}

/* Espaçador para compensar a altura da barra de navegação fixa */
.spacer {
    position:relative;
    height: 95px; /* Ajuste conforme a altura real da sua navbar */
}

/* Estilização do banner */
.banner{
    height: 50vw; /* Define a altura do banner */
    width: 100%; /* Define a largura como 100% */
    background: linear-gradient( rgba(0,0,0,0.281), rgba(0,0,0,0.308)), url('imagem/prato_feito3.jpeg'); /* Define um gradiente e imagem de fundo */
    background-size: cover; /* Cobre toda a área disponível */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Não repete a imagem */
    display: flex; /* Exibe elementos em linha flexível */
    align-items: center; /* Alinha itens no centro verticalmente */
    justify-content: center; /* Alinha itens no centro horizontalmente */
    text-align: center; /* Centraliza o texto */
}

/* Estilização dos links no banner */
.banner a{
    color: #fff; /* Define a cor do texto */
    font-size: 28px; /* Define o tamanho da fonte */
    font-weight: 600; /* Define a espessura da fonte */
}

/* Estilização dos links na seção de bebidas */
.bebidas a{
    color: #000; /* Define a cor do texto */
}

/* Estilização do título no banner */
.texto .titulo{
    color: #fff; /* Define a cor do texto */
    font-size: 60px; /* Define o tamanho da fonte */
    font-weight: 600; /* Define a espessura da fonte */
}

/* Estilização do subtítulo no banner */
.texto .sub_titulo{
    color: #fff; /* Define a cor do texto */
    font-size: 38px; /* Define o tamanho da fonte */
    font-weight: 600; /* Define a espessura da fonte */
}

/* Estilização geral das seções */
section {
    background-color: #f2cb7e; /* Define cor de fundo */
    text-align: center; /* Centraliza o texto */
    width: 100%; /* Define a largura como 100% */
    padding: 10px; /* Define padding interno */
}

/* Estilização das linhas horizontais */
hr{
    display: flex; /* Exibe como flexível */
    width: 10%; /* Define a largura como 10% */
    margin: auto; /* Centraliza a linha horizontal */
    border-top: 2px solid #700500; /* Define a cor e espessura da linha */
}

/* Estilização dos títulos nas seções */
section h1{
    color: #700500; /* Define a cor do texto */
    padding: 10px; /* Define padding interno */
}

/* Estilização dos subtítulos nas seções */
section h2{
    color: #702309; /* Define a cor do texto */
    padding: 10px; /* Define padding interno */
}

/* Estilização dos contêineres de porções e bebidas */
.porcoes-bebidas{
    display: flex; /* Exibe itens em linha flexível */
    justify-content: center; /* Alinha itens no centro horizontalmente */
    align-items: flex-start; /* Alinha itens no início verticalmente */
}

/* Estilização das porções e bebidas */
.porcoes, .bebidas{
    display: inline-block; /* Exibe como bloco em linha */
    margin-left: 5%; /* Adiciona margem à esquerda */
    margin-right: 5%; /* Adiciona margem à direita */
}

/* Estilização das listas de porções e bebidas */
.porcoes ul, .bebidas ul{
    list-style: none; /* Remove a estilização padrão de lista */
}

/* Estilização principal dos contatos */
.contatosPrincipal{
    display: flex; /* Exibe itens em linha flexível */
    justify-content: center; /* Alinha itens no centro horizontalmente */
    align-items: flex-start; /* Alinha itens no início verticalmente */
    flex-direction: row; /* Define a direção dos itens em linha */
}

/* Estilização do primeiro contêiner de contatos */
.contatos-1 {
    display: inline-block; /* Exibe como bloco em linha */
    margin-left: 20%; /* Adiciona margem à esquerda */
    margin-right: 5%; /* Adiciona margem à direita */
}

/* Estilização do segundo contêiner de contatos */
.contatos-2{
    display: inline-block; /* Exibe como bloco em linha */
    margin-left: 5%; /* Adiciona margem à esquerda */
    margin-right: 0%; /* Remove margem à direita */
}

/* Estilização do horário de funcionamento */
.horariofun{
    position: relative; /* Define posição relativa */
    display: inline; /* Exibe em linha */
}

/* Estilização dos ícones de horário */
.iconeHorario{
    position: relative; /* Define posição relativa */
    top: 13px; /* Ajusta posição vertical */
    right: 8px; /* Ajusta posição horizontal */
}

/* Estilização dos contêineres de contatos */
.contatos{
    position: relative; /* Define posição relativa */
    display: inline; /* Exibe em linha */
}

/* Estilização dos links de contato */
.contatos>a{
    color: black; /* Define a cor do texto */
    font-weight: normal; /* Define peso da fonte */
    text-decoration: none; /* Remove decoração do link */
}

/* Estilização do hover para links de contato */
.contatos>a:hover{
    background-color: white; /* Define cor de fundo no hover */
    text-decoration: underline; /* Sublinha o texto no hover */
}

/* Estilização dos ícones de Instagram */
.iconeInsta{
    position: relative; /* Define posição relativa */
    top: 6px; /* Ajusta posição vertical */
    right: 8px; /* Ajusta posição horizontal */
}

/* Estilização dos ícones de WhatsApp */
.iconeZap{
    position: relative; /* Define posição relativa */
    top: 6px; /* Ajusta posição vertical */
    right: 8px; /* Ajusta posição horizontal */
}

/* Estilização dos ícones de localização */
.iconeLocal{
    position: relative; /* Define posição relativa */
    top: 6px; /* Ajusta posição vertical */
    right: 8px; /* Ajusta posição horizontal */
}

/* Estilização do mapa */
.mapa{
    border-radius: 20px; /* Define bordas arredondadas */
}

/* Estilização das imagens de certificados */
.certificados img {
    width: auto; /* Define largura automática */
    height: auto; /* Define altura automática */
    border-radius: 10px; /* Define bordas arredondadas */
    transition: transform 0.3s; /* Adiciona transição suave */
    margin-top: 10px; /* Adiciona margem superior */
    margin-bottom: 10px; /* Adiciona margem inferior */
}

/* Estilização do hover para imagens de certificados */
.certificados img:hover {
    transform: scale(1.05); /* Aumenta ligeiramente a escala no hover */
}

/* Estilos responsivos para dispositivos com largura máxima de 768px */
@media (max-width: 768px) {
    .porcoes-bebidas {
        display: block; /* Exibe como bloco */
    }

    nav {
        display: block; /* Exibe como bloco */
        position: relative; /* Define posição relativa */
    }

    nav ul {
        flex-direction: column; /* Alinha itens em coluna */
        align-items: flex-start; /* Alinha itens no início horizontalmente */
        justify-self: end; /* Justifica itens no final */
        padding: 0; /* Remove padding */
        width: 100%; /* Define largura como 100% */
        margin-bottom: 5px; /* Adiciona margem inferior */
    }

    nav li {
        margin: 10px 0; /* Adiciona margem vertical */
        width: 100%; /* Define largura como 100% */
        text-align: center; /* Centraliza o texto */
    }

    nav a {
        padding: 10px 15px; /* Define padding interno */
        width: 100%; /* Define largura como 100% */
    }

    .spacer {
        display: none; /* Oculta o espaçador */
    }

    .banner {
        height: 70vh; /* Define altura do banner */
    }

    .porcoes, .bebidas {
        display: unset; /* Remove estilização de display */
    }

    .banner .titulo {
        font-size: 40px; /* Ajusta tamanho da fonte */
    }
    .banner .sub_titulo {
        font-size: 24px; /* Ajusta tamanho da fonte */
    }

    .certificados img {
        height: auto; /* Define altura automática */
        width: 40vh; /* Define largura como 40vh */
    }

    iframe {
        height: 40vh; /* Define altura como 40vh */
        width: auto; /* Define largura automática */
        margin-bottom: 5px; /* Adiciona margem inferior */
    }
    .contatosPrincipal {
        flex-direction: column; /* Alinha itens em coluna */
    }
    .contatos-1, .contatos-2 {
        margin-left: 0%; /* Remove margem à esquerda */
        margin-right: 0%; /* Remove margem à direita */
        width: 100%; /* Define largura como 100% */
        text-align: center; /* Centraliza o texto */
    }
}
